/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== BODY ===== */
body {
    background-color: #f4f6f9;
    padding: 40px;
}

/* ===== TÍTULOS ===== */
h2, h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #1f3c88;
}

h3 {
    margin-top: 50px;
}

/* ===== FORMULÁRIO ===== */
form {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    margin-bottom: 1em;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

form button {
    grid-column: 1 / -1;
    padding: 12px;
    background-color: #e6d72e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

form button:hover {
    background-color: #656616;
}

/* ===== TABELA ===== */
table {
    width: 100%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    border-radius: 10px;
    overflow: hidden;
}

table th {
    background-color: #1d9c3f;
    color: white;
    padding: 12px;
    font-size: 13px;
}

table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}

/* Zebra */
table tr:nth-child(even) {
    background-color: #f2f4f8;
}

/* Hover */
table tr:hover {
    background-color: #e3ebff;
}

/* ===== LINKS ===== */
a {
    text-decoration: none;
    font-weight: bold;
}

a:first-child {
    color: #28a745;
}

a:last-child {
    color: #dc3545;
}

a:hover {
    opacity: 0.7;
}